:root {
    --colorFondoLight: #fff;
    --colorFondoDark: #222;

}

body {
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    background-color: var(--colorFondoLight);
}

body.dark {
    background-color: var(--colorFondoDark);
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 33px !important;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 17px;
    font-family: sans-serif;
    line-height: 20px;
}

/*MENU*/

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin-top: 0px;
    z-index: 200;
    position: fixed;
    top: 0;
    padding: 20px;
    background: none;
}

.menu li {
    list-style: none;
}

.menu-scrolled {
    background-color: rgba(202, 202, 202, 0.703) !important;
    transition: all 0.8s;
}

body.dark .menu-scrolled {
    background-color: rgba(51, 51, 51, 0.703) !important;
    transition: all 0.8s;
}

.menu .menu-items {
    position: relative;
}

.menu .menu-items .switch {
    outline: none;
    position: absolute;
    margin-top: 15px;
    margin-left: -10px;
    font-size: 15px;
}

.menu .menu-items ul {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.menu .menu-items ul li {
    margin: 0 20px;
    list-style:none
}

.menu .menu-items button,
.menu-mobile #menu-mobile-items button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    top: 2px;
}

body.dark .menu .menu-items button {
    color: #fff;
}

.menu a,
.menu button {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    font-family: monospace;
}

.menu button span img,
.menu-mobile button span img {
    width: 16px;
    border-radius: 1.5px;
}

body.dark .menu a,
body.dark .menu button span {
    color: #eee;
}

.menu .menu-items ul li a:hover,
.menu button span:hover {
    color: #ccc;
    font-weight: 600;
}

body.dark .menu .menu-items ul li a:hover {
    color: #fff;
}

#logo {
    margin-left: 30px;
}

.logo-cont a {
    font-size: 25px;
    font-weight: bold;
}

.dsp-none {

    display: none;
}

/*MENU MOBILE*/


.menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    z-index: 201;
}

.menu-mobile a {
    text-decoration: none;
    color: #222;
    font-size: 20px;
    margin: 15px;
}

.menu-mobile button span {
    color: #ddd;
}

body.dark .menu-mobile a {
    color: #ddd;
}

.menu-mobile a:hover {
    color: #000;
}

body.dark .menu-mobile a:hover {
    color: #fff;
}

.menu-mobile .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 96.5vw;
}

.menu-mobile ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #666;
}

.menu-mobile ul li {
    text-align: center;
    padding: 10px 0;
    display: block;
}

.menu-mobile ul li a {
    font-size: 15px;
    color: #fff;
}

.menu-mobile-closed {
    display: none;
}

/*INICIO*/

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh);
    background-color:var(--colorFondoLight);
    margin-top: 0px;
}

body.dark .inicio {
    background-color: var(--colorFondoDark);
}

h1 {
    color: #333;
    font-size: clamp(.8rem, 4vw + .8rem, 2.4rem);
    position: relative;
    letter-spacing: 10px;
    width: max-content;
}

body.dark h1 {
    color: #fff;
}

.subtitulo {
    margin-top: 10px;
    color: #777;
    font-size: 18px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 7s forwards;
}

body.dark .subtitulo {
    color: #ccc;
}

h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*HI IM TOMAS*/

h1.english::before {
    background-color: var(--colorFondoLight);
    animation: typewriter 6s steps(13) 1s forwards;
}

h1.english::after {
    width: 0.150rem;
    background: #222;
    animation: typewriter 6s steps(13) 1s forwards,
    blink 500ms steps(12) infinite;
}

/*HOLA SOY TOMAS*/

h1.spanish::before {
    background-color: var(--colorFondoLight);
    animation: typewriter 6s steps(16) 1s forwards;
}

h1.spanish::after {
    width: 0.150rem;
    background: #222;
    animation: typewriter 6s steps(16) 1s forwards,
    blink 500ms steps(15) infinite;
}

body.dark h1::before {
    background-color: var(--colorFondoDark);
}

body.dark h1::after {
    background: #999;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.inicio .bajar {
    position: absolute;
    color: #222;
    text-decoration: none;
    bottom: 40px;
    z-index: 202;
}

body.dark .inicio .bajar {
    color: #ddd;
}

.inicio .bajar:hover {
    font-size: 18px;
    transition: .17s;
}

.circulo-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: none;
    border: 1px solid #666;
    position: absolute;
    bottom: 100px;
    left: 10%;
    opacity: .35;

    animation: horizontal1 4s linear infinite alternate;
}

.circulo-2 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: none;
    border: 1px solid #000;
    position: absolute;
    top: -20px;
    right: 60%;
    opacity: .3;

    animation: horizontal2 20s linear infinite alternate;
}

.circulo-3 {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background: none;
    border: 1px solid #000;
    position: absolute;
    bottom: -200px;
    right: 0;
    opacity: .3;

    animation: horizontal3 15s linear infinite alternate;
}

.circulo-4 {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background: none;
    border: 1px solid #000;
    position: absolute;
    bottom: -850px;
    left: -150px;
    opacity: .3;

    animation: horizontal4 13s linear infinite alternate;
}

body.dark .circulo-1{
    border: 1px solid #ccc;
    opacity: .2;
}
body.dark .circulo-2 {
    border: 1px solid #ccc;
    opacity: .1;
}
body.dark .circulo-3 {
    border: 1px solid #ccc;
    opacity: .1;
}
body.dark .circulo-4 {
    border: 1px solid #ccc;
    opacity: .15;
}

@keyframes horizontal1 {
    0% {
    }

    100% {
        left: -50px;
    }
}

@keyframes horizontal2 {
    0% {
    }

    100% {
        right: 0px;
    }
}

@keyframes horizontal3 {
    0% {
    }

    100% {
        right: 30%;
    }
}

@keyframes horizontal4 {
    0% {
    }

    100% {
        left: 40%;
    }
}

/*ACERCA*/

.about {
    padding-top: 140px;
    padding-bottom: 30px;
}

.about h2 {
    text-align: center;
}

body.dark .about h2 {
    color: #fff;
}

.about .about-cont {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}

.about .about-cont .who-cont {
    width: 40%;
    display: block;
}

.about .about-cont .who-cont .links-cont {
    width: 100%;
    display: flex;
    justify-content: right;
}

.about .about-cont .who-cont a {
    margin: 5px;
    text-decoration: none;
    color: #111;
}

.about .about-cont .who-cont p {
    text-align: justify;
}

body.dark .about .about-cont h3,
body.dark .about .about-cont p,
body.dark .about .about-cont a {
    color: #fff;
}

.about .about-cont .skills-cont {
    width: 40%;
}


/* WORK */

.work {
    padding-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-5deg);
} 

.work h2 {
    margin-top: 50px;
    transform: skewY(5deg);
    position: relative;
    text-align: center;
}

body.dark .work h2 {
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
}

.grid .item {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 210px;

}

.grid .item img {
    width: 101%;
    margin-top: -60px;
    transform: skewY(10deg) scale(1.2,1.2);
    transition: all .075s;
}

.grid .item:hover img {
    transform: skewY(10deg) scale(1.4,1.4);
}

.grid .item .bg-hover {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 150%;
    display: grid;
    position: absolute;
    z-index: 2;
    top: -25%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    transform: skewY(10deg) scale(1.2,1.2);
    justify-items: center;
    align-items: center;
    text-align: center;
}

.grid .item:hover .bg-hover {
    overflow: hidden;
    opacity: 1;
}

.grid .item:hover .bg-hover .info {
    animation-name: bounce;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
}

.grid .item:hover .bg-hover .title {
    color: #fff;
    font-size: 25px;
}

.grid .item .bg-hover .customer {
    color: var(--colorFondoLight);
    font-weight: 50;
}

.description {
    margin-bottom: 40px;
    display: block;
}

.description .captures-img {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 0;
}

.description .captures-img .desktop-capture {
    width: 75%;
}

.description .captures-img .desktop-capture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description .captures-img .mobile-capture {
    width: 16.2%;
}

.description .captures-img .mobile-capture img {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    object-fit: contain;
}

.items .item .description .page-link {
    text-align: center;
    margin: 30px auto;
    width: 80%;
}

.items .item .description .page-link a {
    width: 100%;
    color: #000;
}

body.dark .items .item .description .page-link a {
    width: 100%;
    color: #fff;
}


#screen {
    background-color: #222;
    position: fixed;
    z-index: 500;
    top: -280px;
    left: 0;
    width: 100vw;
    height: 10vh;
    transform: skewY(-10deg);
    transition: all .45s;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

body.dark #screen {
    background-color: #ddd;
}

#details-container {
    background-color: var(--colorFondoLight);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 301;
    overflow: auto;
    display: none;
}

body.dark #details-container {
    background-color: var(--colorFondoDark);
}

#details-container .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#details-container .nav-bar .nav-buttons a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

body.dark #details-container .nav-bar .nav-buttons a {
    color: #fff
}

body.dark .items .item .description {
    color: #fff;
}

body.dark .items .item .title h2 {
    color: #fff;
}

#details-container .close .close-button a:hover span {
    color: #f00;
}

#details-container .close .close-button span {
    color: #000 !important;
}

.item-hide {
    display: none;
}

#details-container .items {
    width: 60%;
    margin: 0 auto;
}

#details-container .items .item .main-image img {
    width: 100%;
}

#details-container .items .item .title {
    text-align: center;
}

@keyframes fade-in {
    0%{height: 0vh;}
    50%{height: 180vh;}
    100%{height: 0vh;}
}

/*CONTACTO*/

.contact {
    background-color: var(--colorFondoDark);
    margin-top: 200px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark .contact {
    background-color: #000;
}

.contact h2,
.contact p {
    color: var(--colorFondoLight);
    text-align: center;
}

body.dark .contact h2,
body.dark .contact p {
    color: var(--colorFondoLight);
}

.contact h2 {
    position: relative;
    top: -30px;
}

.social-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-data-cont a {
    text-decoration: none;
    color: var(--colorFondoLight);
    margin: 10px 8px;
}

.contact .contact-data-cont a:hover {
    color: #ddd;
}

/*GALERY*/

/*IDIOMA*/

/* .spanish {
    background-color: #0f0;
    
} */

/* .english {
    background-color: #f00;
} */

/*MEDIAS*/

@media (max-width: 1450px) {
    .grid .item {
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 200px;
    }
}

@media (max-width: 1280px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid .item {
        height: 150px;
    }
}

@media (max-width: 1150px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .grid .item {
        height: 150px;
    }
}

@media (max-width: 900px) {
    .grid .item {
        height: 120px;
    }

    .inicio .spanish {
        font-size: 22px;
    }

    .inicio .subtitulo.spanish {
        font-size: 14px;
    }
}

@media (max-width: 825px) {
    .menu-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .inicio {
        margin-top: 40px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid .item {
        height: 150px;
    }

    .about .about-cont {
        display: flex;
        justify-content: space-evenly;
        margin: 40px;
    }
}

@media (max-width: 540px) {
    .menu-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .grid .item {
        height: 150px;
    }

    .about .about-cont {
        display: block;
        margin: 50px;
    }

    .about .about-cont .who-cont,
    .about .about-cont .skills-cont {
        margin: 0 auto;
        text-align: center;
        width: 60%;
    }

}